/* poppins-100 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/poppins-v15-latin-100.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-100.woff') format('woff');
}
/* poppins-100italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/poppins-v15-latin-100italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-100italic.woff') format('woff');
}
/* poppins-200 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/poppins-v15-latin-200.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-200.woff') format('woff');
}
/* poppins-200italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: url('/fonts/poppins-v15-latin-200italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-200italic.woff') format('woff');
}
/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/poppins-v15-latin-300.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-300.woff') format('woff');
}
/* poppins-300italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/poppins-v15-latin-300italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-300italic.woff') format('woff');
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v15-latin-regular.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/poppins-v15-latin-500.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-500.woff') format('woff');
}
/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/poppins-v15-latin-italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-italic.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins-v15-latin-600.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-600.woff') format('woff');
}
/* poppins-600italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/poppins-v15-latin-600italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-600italic.woff') format('woff');
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/poppins-v15-latin-700.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-700.woff') format('woff');
}
/* poppins-700italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/poppins-v15-latin-700italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-700italic.woff') format('woff');
}
/* poppins-800 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/poppins-v15-latin-800.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-800.woff') format('woff');
}
/* poppins-800italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/poppins-v15-latin-800italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-800italic.woff') format('woff');
}
/* poppins-900 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/poppins-v15-latin-900.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-900.woff') format('woff');
}
/* poppins-900italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/poppins-v15-latin-900italic.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-900italic.woff') format('woff');
}
