// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "src/assets/_variables";
@import "src/assets/_spacing";

$success: #2ebb60;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/** Cards **/
$modal-card-title-size: $size-5;
$modal-card-head-background-color: $primary;
$modal-card-title-color: $light;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

/** SPECIFIC OVERRIDES */
.card-footer {
    border-top: 1px solid #f1f1f1;
}

.modal-card-foot {
    background-color: white;
}

// Flex alignment
.align-items-end {
    align-items: flex-end;
}
.justify-content-end {
    justify-content: flex-end;
}