.page-container {
  padding: 8px;
}

.card-item {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  margin: 1px;

  .main {
    width: 100%;
  }
  .counter {
    width: 35%;
    text-align: center;
  }
  &:hover {
    background-color: rgb(252, 252, 252);
  }
}

.strong,
.bold {
  font-weight: bold !important;
}

.is-full-width {
  width: 100%;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

// Padding classes
.padding-vertical-1 {
  padding: 1em 0em;
}

/** MARGIN HELPERS */
.is-margin-top-1 {
  margin-top: 1em;
}

.is-margin-top-2 {
  margin-top: 1.5em;
}

.is-margin-top-3 {
  margin-top: 2em;
}

.is-margin-top-4 {
  margin-top: 2.5em;
}

.is-margin-bottom-1 {
  margin-top: 1em;
}

.is-margin-bottom-2 {
  margin-bottom: 1.5em;
}

.is-margin-bottom-3 {
  margin-bottom: 2em;
}

.is-margin-bottom-4 {
  margin-bottom: 2.5em;
}

/* Scroll Bar*/
*::-webkit-scrollbar {
  width: 6px;
  height: 15px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8f8f8;
}
*::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 10px;
  box-shadow: #0000001f 0 3px 6px 1px;
}
