.page-container {
  padding: 8px;
}

.card-item {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  margin: 1px;

  .main {
    width: 100%;
  }
  .counter {
    width: 35%;
    text-align: center;
  }
  &:hover {
    background-color: rgb(252, 252, 252);
  }
}

.strong,
.bold {
  font-weight: bold !important;
}


.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

// Padding classes
.padding-vertical-1 {
  padding: 1em 0em;
}

/** MARGIN HELPERS */
.is-margin-top-1 {
  margin-top: 1em;
}

.is-margin-top-2 {
  margin-top: 1.5em;
}

.is-margin-top-3 {
  margin-top: 2em;
}

.is-margin-top-4 {
  margin-top: 2.5em;
}